<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body style="border: 2px solid paleturquoise; margin-top: 100px; margin-left: 480px; width: 500px; height: 200px;">
        <center>
            <h4>The current date and time is...</h4>
            <h2>@ViewBag.CurrentTime</h2>   
            <a href="/"><button class="button-primary">Update</button></a>
        </center>
    </body>
</html>